
{% extends "base.html" %}
{% load static %}
{% block estilos %}{% endblock estilos %}
{% block title %}Proveedores{% endblock title %}
{% block agregarproveedor %}
<li><a href="{% url 'agregarproveedor' %}" class="boton"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill = 'green' d="M7.75 2a.75.75 0 0 1 .75.75V7h4.25a.75.75 0 0 1 0 1.5H8.5v4.25a.75.75 0 0 1-1.5 0V8.5H2.75a.75.75 0 0 1 0-1.5H7V2.75A.75.75 0 0 1 7.75 2Z"></path></svg></a></li>
{% endblock agregarproveedor %}
{% block contenido %}


    

    {% for proveedores in object_list %}
    <div class="cuadros">
            <p>{{proveedores.nombre}}</p><br>
            <p>Telefono {{proveedores.telefono}} </p>
            <p>Direccion {{proveedores.direccion}}</p>
            <a href="{% url 'editarproveedor' proveedores.codproveedor %}"> Editar proveedor </a><br>
            <a href="{% url 'eliminarproveedor' proveedores.codproveedor %}"> Eliminar </a>
    </div>
    
{% endfor %}

{% endblock contenido %}